.hero {
  padding: 0px 0px 40px;
}

@media only screen and (min-width: 1168px) {
  .hero {
    padding: 0px 0px 80px;
  }
}

.hero-wrapper {
  background-color: var(--text-muted);
  border-radius: 30px;
  padding: 390px 20px 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image:
    linear-gradient(rgba(17, 17, 17, 0.2), rgba(17, 17, 17, 0.8)),
    image-set(
      '../images/hero/hero-bg_mob.jpg' 1x,
      '../images/hero/hero-bg_mob@2x.jpg' 2x
    );
}

@media only screen and (min-width: 768px) {
  .hero-wrapper {
    padding: 600px 40px 40px;

    background-image:
      linear-gradient(rgba(17, 17, 17, 0.2), rgba(17, 17, 17, 0.8)),
      image-set(
        '../images/hero/hero-bg_tab.jpg' 1x,
        '../images/hero/hero-bg_tab@2x.jpg' 2x
      );
  }
}

@media only screen and (min-width: 1168px) {
  .hero-wrapper {
    padding: 380px 40px 40px;

    background-image:
      linear-gradient(rgba(17, 17, 17, 0.2), rgba(17, 17, 17, 0.8)),
      image-set(
        '../images/hero/hero-bg_desk.jpg' 1x,
        '../images/hero/hero-bg_desk@2x.jpg' 2x
      );
  }
}

.hero-controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px 14px;
}

.hero-title {
  max-width: 484px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--surface-main);
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 28px;
    line-height: 1.21;
  }
}

.primary {
}
.hero-link {
  display: inline-flex;
  align-items: center;
  gap: 14px;

  font-weight: 500;
  color: var(--surface-main);

  transition: 300ms ease-out;
  transition-property: color, background-color;
}

@media only screen and (min-width: 768px) {
  .hero-link {
    margin-left: auto;
  }
}

.hero-link:hover,
.hero-link:focus {
  color: var(--action-primary);
}

.hero-link:hover > .hero-link-circle,
.hero-link:focus > .hero-link-circle {
  background-color: var(--action-primary);
}

.hero-link-icon {
  color: var(--action-primary);

  transition: 300ms ease-out;
  transition-property: color;
}

.hero-link:hover .hero-link-icon,
.hero-link:focus .hero-link-icon {
  color: var(--surface-main);
}

.hero-link-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 19px;
  width: 38px;
  height: 38px;
  background-color: white;

  transition: 300ms ease-out;
  transition-property: background-color;
}
